/* Color Variables */
$blue: #3498DB; // main brand blue
$dark-blue: #1C699C;
$darkest-blue: #0B132B;
$orange: #EE6123;
$red: #A30029;
$maroon: #8B1E3F;
$yellow: #E7C447;
$teal: #3BA99C;
$green: #009B72;

$white: #FFFFFF;
$black: #333333;
$shadow: rgba(0, 0, 0, 20%);
$slate-gray-100: #F0F3F6;
$slate-gray-200: #E0E3E6;
$slate-gray-300: #D0D3D6;
$slate-gray-400: #C0C3C6;
$slate-gray-500: #A0A3A6;
$slate-gray-600: #707376;
